.footer {
  ul {
    list-style: none;
    text-align: center;
    padding: 20px;
  }
  li {
    display: inline-block;
  }
}
.ajaxloadergif {
    padding-left:10px;
    padding-right:10px;
}
.contentblock {
  padding-top: 50px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.pure-menu {
  text-align: left;
  ul {
      padding-top: 25px;
      background: #3c4527;
    float: right !important;
  }
  a {
    font-size: 12px; 
    display: inline-block;
  }
}
/*
.px640 {
    max-width: 640;
}

.pure-menu-heading {
  display: inline-block !important;
  float: left;
}

.pure-menu a#pull, #homebutton {
  display: none;
}

@media screen and (max-width: 420px) {
  .pure-menu-heading {
    display: none !important;
  }
  pure-menu {
    height: auto;
    border-bottom: 0;
  }
  #menulist {
    display: none;
    width: 100%;
    height: auto;
  }
  .pure-menu {
      li {
	  display: block;
	  float: none;
	  width: 100%;
	  position: relative;
      }
      a {
	  text-align: left;
	  width: 100%;
	  text-indent: 25px;
	  &#pull {
              display: block;
              width: 100%;
              position: relative;
	  }
      }
  }
  #homebutton {
    display: block;
  }
  .pure-menu a#pull:after {
    content: "";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}*/